body {
  margin:0px;
  font-family:"Open Sans",sans-serif;
}
.navigation {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:#0d0b0b;
}
.navigation .links {
  position:absolute;
  bottom:0px;
  padding:20px 25px;
}
.navigation .links a {
  color:#eee;
  font-size:20px;
  display:block;
  text-decoration:none;
  margin:20px 0px;
  padding:0px 10px;
  border-left:5px solid transparent;
  transition:all 300ms ease-in-out;
}
.navigation .links a:hover {
  border-left:5px solid #eee;
}

.content {
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  min-height:200vh;
  background:#eee;
  padding:100px 30px;
  box-sizing:border-box;
  transform-origin:top left;
  transform:rotate(0deg);
  transition:all 300ms ease-in-out;
}
.ham-btn {
  position:absolute;
  top:40px;
  left:15px;
  width:50px;
  height:50px;
  background:#0d0b0b;
  z-index:2;
  border-radius:50%;
  cursor:pointer;
}
.ham-btn span {
  width:50%;
  height:3px;
  background:#eee;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:all 300ms ease-in-out;
}
.ham-btn span:nth-child(1) {
  top:30%;
}
.ham-btn span:nth-child(3) {
  top:70%;
}

body.activeNav {
  overflow:hidden;
}
body.activeNav .content {
  transform:rotate(-32deg);
}

body.activeNav .ham-btn span:nth-child(1){
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg);
}
body.activeNav .ham-btn span:nth-child(3){
  top:50%;
  transform:translate(-50%,-50%) rotate(-45deg);
}
body.activeNav .ham-btn span:nth-child(2){
  display:none;
}